.taskScreen-container {
  width: 70%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 800px) {
  .taskScreen-container {
    width: 100%;
  }
}

.taskScreen-title h1 {
  text-align: center;
  font-weight: 400;
}
.taskScreen-description p {
  text-align: center;
}

.taskScreen-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.taskScreen-buttons > button {
  width: 20%;
  height: auto;
  background: transparent;
  color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 1em;
  padding: 1em;
  cursor: pointer;
  text-align: center;
  font-size: inherit;
}
